.mainContainer {
  display: flex;
  flex-direction: column;
}

.itemCartContainer {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 6px;
  margin: 2px;
  align-items: center;
}

.cartImg {
  width: 6em;
  height: 5em;
  margin: 0.5em;
  border-radius: 3px;
  object-fit: cover;
}

.deleteOne {
  font-size: 1.2em;
  height: fit-content;
  padding: 0.5em;
}

.clearCart {
  display: flex;
  justify-content: center;
  width: 15em;
  padding: 1em 0em;
  color: whitesmoke;
  background-color: black;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 5px;
  margin: 1em;
}

.totalCompra {
  text-align: center;
  font-size: 1.3em;
}

.totalCantidad {
  text-align: center;
}

a {
  color: black;
}