.secondary {
  width: 5em;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 0.5em;
}

.primary {
  width: 5em;
  background-color: antiquewhite;
  border: 2px solid gainsboro;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.4em;
}