.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  width: 20em;
  border-radius: 20px;
  border: 2px solid gray;
  padding: 2em;
}

.itemImage {
  display: flex;
  align-content: center;
  width: 15em;
  height: 15em;
  object-fit: cover;
}

.itemTitle {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.7em;
}

.itemPrice {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
}