.contenedorMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

ul {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-around;
  font-size: 1.3em;
  width: 50%;
}

li {
  padding: 1em;
  list-style: none;
}

a {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}